<%= render "shared/header" %>

<div class="chat-message">

 <%# サイドバー %>
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <%= link_to current_user.nickname, user_path(current_user.id) %>'s Room
      </div>
    </div>
    <div class="rooms">
        <div class="room-button">
          <% if user_signed_in? && (current_user.id == @pet.user_id) && @pet.adoption.blank? %>
            <%= link_to "里親承認", new_pet_adoption_path(pet_id: @pet.id, user_id: @user), class: "adopt-btn" %>
          <% end %>
          <% if user_signed_in? && (current_user.id == @pet.user_id) %>
            <%= link_to "Roomの削除", room_path(@room), method: :delete, class: "adopt-btn" %>
            <%= link_to "申請者のProfile", user_path(@user), class: "prof-btn" %>
          <% end %>
          <% if user_signed_in? && (current_user.id != @pet.user_id) %>
            <%= link_to "投稿者のProfile", user_path(@pet.user_id), class: "prof-btn" %>
          <% end %>
        </div>
    </div>
  </div>
  <%# //サイドバー %>

  <%# チャット画面 %>
  <div class="chat">
    <div class="chat-header">
      <div class="header-title">
        <%= link_to @room.room_name, pet_path(@pet.id) %>
      </div>
    </div>

  <%# メッセージ %>
  <div class="messages">
    <%= render partial: 'message', collection: @messages %>
  </div>
  <%# //メッセージ %>

    <%= form_with model: [@room, @message], class: 'message-form', local: true do |f| %>
      <div class="form-input">
        <%= f.text_field :content, class: 'form-message', placeholder: 'message' %>
        <label class="form-image">
        <span class="image-file">image</span>
        <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <%= f.submit 'Post', class: 'form-submit' %>
    <% end %>
  </div>
  <%# //チャット画面 %>

</div>