<%= render "shared/header" %>

<div class="pets-contents">
  <div class="pets-main">
    <h2 class="pets-title">Update</h2>
    <%= form_with model: @pet, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :images, name: 'pet[images][]', data: {index: 0}, id:"pet-image" %>
      </div>
    </div>
    <%# /画像 %>

    <%# タイトルと名前 %>
    <div class="new-pets">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"pets-text", id:"pet-title", placeholder:"タイトル", maxlength:"40" %>
        <div class="weight-bold-text">
          ペットの名前
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :animal_name, class:"pets-text", id:"pet-name", placeholder:"ペットの名前" ,maxlength:"20" %>
    </div>
    <%# /タイトルと名前 %>

    <%# 種類 %>
    <div class="pets-kinds">
      <div class="post-bold-text">ペットの種類</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:animal_category_id, AnimalCategory.all, :id, :name, {}, {class:"select-box", id:"pet-category"}) %>
        <div class="weight-bold-text">
          種類
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :breed, class:"pets-text", id:"pet-breed", placeholder:"犬種・猫種など" ,maxlength:"50" %>
      </div>
      </div>
    <%# /種類 %>

    <%# 詳細 %>
    <div class="pets-detail">
      <div class="post-bold-text">ペットの詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          性別
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"pet-sex"}) %>
        <div class="weight-bold-text">
          年齢
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box", id:"pet-age"}) %>
        <div class="weight-bold-text">
          大きさ
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"select-box", id:"pet-weight"}) %>
        <div class="weight-bold-text">
          ペットの状態
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :status, class:"pets-text", id:"pet-status", placeholder:"健康状態、性格など" ,maxlength:"1000" %>
        <div class="weight-bold-text">
          居住地
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"pet-prefecture"}) %>
        <div class="weight-bold-text">
          ワクチン接種について
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:vaccination_id, Vaccination.all, :id, :name, {}, {class:"select-box", id:"pet-vaccination"}) %>
        <div class="weight-bold-text">
          避妊去勢手術について
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:castration_id, Castration.all, :id, :name, {}, {class:"select-box", id:"pet-castration"}) %>
      </div>
      </div>
    <%# /詳細 %>

    <%# 募集条件 %>
    <div class="pets-adoption">
      <div class="post-bold-text">募集条件</div>
      <div class="form">
        <div class="weight-bold-text">
          募集地域
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :area, class:"pets-text", id:"pet-area", placeholder:"全国、近隣県など" ,maxlength:"200" %>
        <div class="weight-bold-text">
          譲渡の経緯
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :reason, class:"pets-text", id:"pet-reason", placeholder:"保健所に収容されていたところを保護、飼い主が高齢のため世話ができなくなってしまった、など" , maxlength:"500" %>
        <div class="weight-bold-text">
          譲渡費用
          <span class="indispensable">必須</span>
          <p class='info-text'>※半角数字で入力してください</p>
        </div>
        <%= f.text_area :charge, class:"pets-text", id:"pet-charge", placeholder:"譲渡時にかかる費用の概算" %>
        <div class="weight-bold-text">
          譲渡条件
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :condition, class:"pets-text", id:"pet-condition", placeholder:"高齢者不可、定期的に近況報告してくださる方、などの条件や譲渡費用の詳細など" , maxlength:"500" %>
      </div>
      </div>
    <%# /募集条件 %>

    <%# 下部ボタン %>
    <div class="send-btn-contents">
      <%= f.submit "post", class:"send-btn" %><br>
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
  </div>
</div>