<%= render "shared/header" %>
<div class='main'>

 <%# 投稿一覧 %>
  <div class='item-contents'>
    <h2 class='title'>里親募集中</h2>
    <div class="subtitle" >
      新規投稿
    </div>
    <ul class='item-lists'>
    
      <% if @pets.length > 0 %>
      <% @pets.each do |pet| %> 
      <li class='list'>
      <%= link_to pet_path(pet) do %>
        <div class='pet-img-content'>
          <%= image_tag pet.image, class: "pet-img" %>

          <%# if pet.adoption.present? %>
          <div class='sold-out'>
            <span>譲渡決定！</span>
          </div>
          <%# end %>

        </div>

        <div class='pet-info'>
          <h3 class='pet-title'>
            <%= pet.title %>
          </h3>
          <div class='pet-name'>
            <span><%= pet.animal_name %> ちゃん<br>
            <%= pet.breed %> / <%= pet.sex.name %> / <%= pet.age.name %></span>
          </div>
        </div>
      <% end %>
      </li>
      <% end %>
      <% end %>
    
      <% if @pets.length == 0 %>
        <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "chopper.png", class: "pet-img" %>
        <div class='pet-info'>
          <h3 class='pet-title'>
            投稿してね！
          </h3>
          <div class='pet-name'>
            <span>チョッパー ちゃん<br>雑種 / オス / ３歳〜６歳</span>
          </div>
        </div>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# //投稿一覧 %>
  
</div>
<%= render "shared/footer" %>