<%= render "shared/header" %>
<div class='main'>

 <%# 投稿一覧 %>
  <div class='item-contents'>
    <h2 class='title'>里親募集中</h2>
    <div class="subtitle" >
      新規投稿
    </div>
    <ul class='item-lists'>
    
      <% if @pets.length > 0 %>
      <% @pets.each do |item| %> 
      <li class='list'>
      <%= link_to '#' do %>
        <div class='pet-img-content'>
          <%= image_tag('sample.jpg', class: "item-img") %>

          <%# if item.buying_history.present? %>
          <%# <div class='sold-out'>
            <span>譲渡決定！</span>
          </div>%>
          <%# end %>

        </div>

        <div class='item-info'>
          <h3 class='item-name'>
            <%# @pet.title %>
          </h3>
          <div class='item-price'>
            <span><%# pet.breed %>円<br><%# pet.sex.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      <% end %>
      </li>
      <% end %>
      <% end %>
    
      <%# if @items.length == 0 %>
        <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            投稿してね！
          </h3>
          <div class='item-price'>
            <span>999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
        </li>
      <%# end %>
    </ul>
  </div>
  <%# //投稿一覧 %>
  
</div>
<%= render "shared/footer" %>