<%= render "shared/header" %>

<div class='search-main'>
<div class='search-title'>
  <%= '詳 細 検 索' %>
</div>
<div class='search-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_pets_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :title, 'タイトル' %>
      <br>
      <%= f.text_field :title, placeholder: 'キーワード', value: params[:q]&.dig(:title) %>
    </div>
    <div class="search-field">
      <%= f.label :user_nickname_cont, '投稿者名' %>
      <br>
      <%= f.text_field :user_nickname_cont, placeholder: '投稿者名' %>
    </div>
    <div class="search-field">
      <%= f.label :animal_category_id_eq, 'ペットの種類' %>
      <br>
      <%= f.collection_select(:animal_category_id_eq, AnimalCategory.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :breed_cont, '犬種・猫種' %>
      <br>
      <%= f.text_field :breed_cont, placeholder: 'キーワード' %>
    </div>
    <div class="search-field">
      <%= f.label :sex_id_eq, '性別' %>
      <br>
      <%= f.collection_select(:sex_id_eq, Sex.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :age_id_eq, '年齢' %>
      <br>
      <%= f.collection_select(:age_id_eq, Age.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :weight_id_eq, '性別' %>
      <br>
      <%= f.collection_select(:weight_id_eq, Weight.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :prefecture_id_in, '所在地' %>
      <br>
      <%= f.collection_check_boxes(:prefecture_id_in, Prefecture.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :vaccination_id_eq, 'ワクチン接種' %>
      <br>
      <%= f.collection_select(:vaccination_id_eq, Vaccination.all, :id, :name, {include_blank: "---"}) %>
    </div>
        <div class="search-field">
      <%= f.label :castration_id_eq, '避妊・去勢' %>
      <br>
      <%= f.collection_select(:castration_id_eq, Castration.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :charge_gteq, '譲渡費用'%>
      <br>
      <%= f.number_field :charge_gteq %> 円以上
      <br>
      <%= f.number_field :charge_lteq %> 円以下
    </div>
    <%= f.submit '検索' %>
  <% end %>
  <ul class='search-pet-lists' id="detailed-search-result">
    <% @pets.each do |pet| %>
      <li class='list'>
      <%= link_to pet_path(pet.id) do %>
        <div class="posted-content">
          <%= image_tag pet.image, class: "pet-img" %><br>
          <div class='search-pet-title'> 
            <%= pet.title %>
            </div>
          <div class='search-pet-info'>
          <%= pet.animal_name%> ちゃん( <%= pet.age.name %> )<br>
          <%= pet.breed %> / <%= pet.sex.name %>
          </div>
        </div>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
</div>