<%= render "shared/header" %>

<div class="pet-show">
  <%# 概要 %>
  <div class="pet-box">
    <div class="pet-img-content">
      <%= image_tag @pet.images[0], class:"pet-box-img" %>
        <% if @pet.adoption.present? %>
          <div class="sold-out">
          <span>里親決定!!</span>
          </div>
        <% end %>
    </div>
    <div class="other-images">
      <% @pet.images[1..-1].each do |image| %>
        <div class="other-image">
           <%= image_tag image, class:"pet-other-img" %>
        </div>
      <% end %>
    </div>
    <div class="pet-title-box">
      <span class="title">
        <%= @pet.title %>
      </span>
    </div>

  <%# //概要 %>

    <%# 編集削除ボタン %>
    <div class="pet-user-btn">
      <% if user_signed_in? && (current_user.id == @pet.user_id) && @pet.adoption.blank? %>
      <%= link_to "edit", edit_pet_path, method: :get, class: "edit-btn" %>
      <%= link_to "delete", pet_path, method: :delete, class:"destroy-btn" %>
      <% end %>
    </div>
    <%# //編集削除ボタン %>

    <%# detail %>
    <div class="pet-explain-box">
      <span><%= "pet detail" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ペットの名前</th>
          <td class="detail-value"><%= @pet.animal_name %> ちゃん</td>
          <th class="detail-item">犬種・猫種</th>
          <td class="detail-value"><%= @pet.breed %></td>
        </tr>
        <tr>
          <th class="detail-item">性別</th>
          <td class="detail-value"><%= @pet.sex.name %></td>
          <th class="detail-item">年齢</th>
          <td class="detail-value"><%= @pet.age.name %></td>
        </tr>
        <tr>
          <th class="detail-item">大きさ</th>
          <td class="detail-value"><%= @pet.weight.name %></td>
          <th class="detail-item">居住地</th>
          <td class="detail-value"><%= @pet.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ワクチン接種</th>
          <td class="detail-value"><%= @pet.vaccination.name %></td>
          <th class="detail-item">避妊去勢</th>
          <td class="detail-value"><%= @pet.castration.name %></td>
        </tr>
      </tbody>
    </table>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item2">募集地域</th>
          <td class="detail-value2"><%= @pet.area %></td>
        </tr>
        <tr>
          <th class="detail-item2">譲渡費用</th>
          <td class="detail-value2">約 <%= @pet.charge %> 円</td>
        </tr>
        <tr>
          <th class="detail-item2">譲渡理由</th>
          <td class="detail-value2"><%= @pet.reason %></td>
        </tr>
        <tr>
          <th class="detail-item2">譲渡条件</th>
          <td class="detail-value2"><%= @pet.condition %></td>
        </tr>
        <tr>
          <th class="detail-item2">備考:<br>健康状態や性格など</th>
          <td class="detail-value2"><%= @pet.status %></td>
        </tr>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= link_to @pet.user.nickname, user_path(@user) %></td>
        </tr>
      </tbody>
    </table>
    <%# //detail %>

    <div class="show-adoption">
      <% if user_signed_in? && (current_user.id != @pet.user_id) && @pet.adoption.blank? %>
      <%= link_to "里親を希望する", new_room_path(pet_id: @pet.id), class:"show-adoption-btn" %>
      <% end %>
    </div>
  </div>
</div>

