<%= render "shared/header" %>

<div class="user-info">
  <div class="inner">
    <div class="my-page-title">
    <%= @user.nickname+"'s My Page"%>
    </div>

    <%# ドーナツグラフ %>
    <div class="my-graph">
      <%= render "my_graph" %>
    </div>
    <%# //ドーナツグラフ %>

    <%# ルーム一覧 %>
    <% if user_signed_in? && (current_user.id == @user.id) %>
      <div class="rooms-index">
        <h2 class="page-heading">
        <%= @user.nickname+"'s Chat Room" %>
        </h2>
        <% current_user.rooms.each do |room| %>
        <div class="room-link">
          <%= "・" %>
          <%= link_to room.room_name, room_messages_path(room) %>
        </div>
        <% end %>
        <div class="no-room-text">
          <% if @room.length == 0 %>
            <%= "まだルームがありません" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# //ルーム一覧 %>

    <%# ユーザー情報 %>
    <div class="user-wrapper">
      <h2 class="page-heading">
        <%= @user.nickname+"'s Profile" %>
        <% if current_user.id == @user.id %>
        <%= link_to "edit", edit_user_path, class:"edit-user-btn" %>
        <% end %>
      </h2>
      <%= render "table" %>
    </div>
    <%# //ユーザー情報 %>

   <%# 投稿一覧 %>
    <div class="posts-list">
      <h2 class="page-heading">
        <%= @user.nickname+"'s Posts List"%>
      </h2>
      <div class="user-pet">
        <% @pets.each do |pet| %> 
        <li class='list'>
        <%= link_to pet_path(pet) do %>
        <div class='pet-img-content'>
          <%= image_tag pet.images[0], class: "pet-img" %>
          <% if pet.adoption.present? %>
          <div class='sold-out'>
            <span>里親決定!!</span>
          </div>
          <% end %>
        </div>
        <div class='pet-info'>
          <h3 class='pet-title'>
            <%= pet.title %>
          </h3>
          <div class='pet-name'>
            <span><%= pet.animal_name %> ちゃん<br>
            <%= pet.breed %> / <%= pet.sex.name %> / <%= pet.age.name %></span>
          </div>
        </div>
      <% end %>
      </li>
      <% end %>
      </div>
      <div class="no-post-text">
        <% if @user.pets.length == 0 %>
          <%= "まだ投稿がありません" %>
        <% end %>
      </div>
    </div>
    <%# //投稿一覧 %>
    
    </div>
  </div>
</div>
