<%= render "shared/header" %>

<div class="user-info">
  <div class="inner">
    <div class="my-page-title">
    <%= @user.nickname+"'s My Page"%>
    </div>

<%# ドーナツグラフ %>
<html lang="ja">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <div style="width:80%;" >
    <canvas id="myDoughnutChart"></canvas>
  </div>

    <script>
      var ctx = document.getElementById("myDoughnutChart");
      var score = <%== @score %>, a_score = <%== @a_score %>;
      var myDoughnutChart= new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["入力済み", "未入力"],
          datasets: [{
              backgroundColor: [
                  "olivedrab",
                  "#CCCC99",
              ],
              data: [score, a_score]
          }]
        },
        options: {
        }
      });
    </script>
</html>
<%# //ドーナツグラフ %>

    <% if user_signed_in? && (current_user.id == @user.id) %>
      <div class="rooms-index">
        <h2 class="page-heading">
        <%= @user.nickname+"'s Chat Room"%>
        </h2>
        <% current_user.rooms.each do |room| %>
        <div class="room-link">
          <%= "・" %>
          <%= link_to room.room_name, room_messages_path(room) %>
        </div>
        <% end %>
      </div>
    <% end %>

    <%# ユーザー情報 %>
    <div class="user-wrapper">
      <h2 class="page-heading">
        <%= @user.nickname+"'s Profile"%>
        <% if current_user.id == @user.id %>
        <%= link_to "edit", edit_user_path, class:"edit-user-btn" %>
        <% end %>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="detail-item2">名前</th>
            <td class="detail-value2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-item2">居住地</th>
            <td class="detail-value2"><%= @user_detail.prefecture.name %></td>
          </tr>
          <tr>
            <th class="detail-item2">世帯情報</th>
            <td class="detail-value2"><%= @user_detail.household.name %></td>
          </tr>
          <tr>
            <th class="detail-item2">過去の飼育経験</th>
            <td class="detail-value2"><%= @user_detail.experience %></td>
          </tr>
          <tr>
            <th class="detail-item2">現在の飼育状況</th>
            <td class="detail-value2"><%= @user_detail.have_animal %></td>
          </tr>
          <tr>
            <th class="detail-item2">現在の住居</th>
            <td class="detail-value2"><%= @user_detail.pet_friendly.name %></td>
          </tr>
          <tr>
            <th class="detail-item2">経済的な状況</th>
            <td class="detail-value2"><%= @user_detail.economic_status %></td>
          </tr>
          <tr>
            <th class="detail-item2">探しているペット</th>
            <td class="detail-value2"><%= @user_detail.desired_animal %></td>
          </tr>
          <tr>
            <th class="detail-item2">緊急時の預け先</th>
            <td class="detail-value2"><%= @user_detail.deposit %></td>
          </tr>
          <tr>
            <th class="detail-item2">不妊去勢手術していないペットを譲渡する場合</th>
            <td class="detail-value2"><%= @user_detail.have_surgery.name %></td>
          </tr>
          <tr>
            <th class="detail-item2">ワクチン接種</th>
            <td class="detail-value2"><%= @user_detail.get_vaccine.name %></td>
          </tr>
          <tr>
            <th class="detail-item2">譲渡後の飼育環境</th>
            <td class="detail-value2"><%= @user_detail.indoor_outdoor %></td>
          </tr>
          <tr>
            <th class="detail-item2">譲渡時の自宅への訪問</th>
            <td class="detail-value2"><%= @user_detail.visit.name %></td>
          </tr>
          <tr>
            <th class="detail-item2">同居者のペット飼育に対する同意</th>
            <td class="detail-value2"><%= @user_detail.consent.name %></td>
          </tr>
          <tr>
            <th class="detail-item2">備考</th>
            <td class="detail-value2"><%= @user_detail.remarks %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%# //ユーザー情報 %>

   <%# 投稿一覧 %>
    <div class="posts-list">
      <h2 class="page-heading">
        <%= @user.nickname+"'s Posts List"%>
      </h2>
      <div class="user-pet">
        <% @pets.each do |pet| %> 
        <li class='list'>
        <%= link_to pet_path(pet) do %>
        <div class='pet-img-content'>
          <%= image_tag pet.images[0], class: "pet-img" %>
          <% if pet.adoption.present? %>
          <div class='sold-out'>
            <span>里親決定!!</span>
          </div>
          <% end %>
        </div>
        <div class='pet-info'>
          <h3 class='pet-title'>
            <%= pet.title %>
          </h3>
          <div class='pet-name'>
            <span><%= pet.animal_name %> ちゃん<br>
            <%= pet.breed %> / <%= pet.sex.name %> / <%= pet.age.name %></span>
          </div>
        </div>
      <% end %>
      </li>
      <% end %>
      </div>
    </div>
    <%# //投稿一覧 %>
    
    </div>
  </div>
</div>
