<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to image_tag('logo-only.jpg', class: 'pet-icon'), root_path %></li>
      <li><%= link_to '詳細検索', search_pets_path, class: "search-link-btn" %></li>
    </ul>

    <ul class='lists-right'>
      <% if user_signed_in?%>
      <li><%= link_to current_user.nickname+'さんのマイページ', user_path(current_user), class: "my-page" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li><%= link_to '投稿', new_pet_path, method: :get, class: "post-btn" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>