<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to image_tag('logo-only.jpg', class: 'pet-icon'), root_path %></li>
      <li><%= link_to 'Top Page', root_path, class: "top-page-btn" %></li>
      <li><%= link_to 'Search', search_pets_path, class: "search-link-btn" %></li>
    </ul>

    <ul class='lists-right'>
      <% if user_signed_in?%>
      <li><%= link_to current_user.nickname+"'s My Page", user_path(current_user), class: "my-page" %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li><%= link_to 'Post', new_pet_path, method: :get, class: "post-btn" %></li>
      <% else %>
      <li><%= link_to 'Login', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'New Account', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>