<%= render "shared/header" %>

<div class='room-request-form'>
  <div class='room-form'>
    <%= form_with model: @adoption, url: pet_adoptions_path, local: true do |f| %>

      <div class='room-form-field'>
        <div class='room-form-field-center'>
          <div class='room-text'>
            <h1>下記投稿の里親申請を受理します</h1>
          </div>
        </div>
      </div>

      <%= render "shared/post_contents" %>

      <input name="adoption[user_id]" type="hidden" value=<%= @user.id %>>
      <div class='room-form-field'>
        <div class='room-form-center'>
          <%= f.submit "decided", class: 'request-btn'%>
        </div>
      </div>

    <% end %>
  </div>
</div>