<%= render "shared/header" %>

<div class='room-request-form'>
<div class='room-form'>
  <%=form_with model: @room, local: true do |f|%>

  <%= render 'shared/error_messages', model: f.object %>

    <div class='room-form-field'>
      <div class='room-form-field-center'>
        <div class='room-text'>
          <h1>下記投稿に里親申請をします</h1>
        </div>
      </div>
    </div>

      <%= render "shared/post_contents" %>

    <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
    <input name="room[user_ids][]" type="hidden" value=<%= @pet.user.id %>>
    <input name="room[pet_id]" type="hidden" value=<%= @pet.id %>>
    <input name="room[room_name]" type="hidden" value=<%= @pet.animal_name %>ちゃんの里親申請(申請者:<%= current_user.nickname %>さん)>
    <div class='room-form-field'>
      <div class='room-form-center'>
        <%= f.submit "request", class: 'request-btn'%>
      </div>
    </div>
  <% end %>
</div>
