<div class='room-form'>
  <%=form_with model: @room, local: true do |f|%>

  <%= render 'shared/error_messages', model: f.object %>

    <div class='room-form-field'>
      <div class='room-form-field-center'>
        <div class='room-text'>
          <h1>下記投稿に里親申請をします</h1>
        </div>
      </div>
    </div>
    <div class='room-form-field'>
      <div class='room-form-field-center'>
          <h2 class='room-pet-title'>
            <%= @pet.title %>
          </h2>
          <%= image_tag @pet.image, class: "pet-img" %>
          <div class='room-pet-info'>
            名前 : <%= @pet.animal_name %> ちゃん<br>
            年齢 : <%= @pet.age.name %><br>
            種類 : <%= @pet.breed %><br>
            性別 : <%= @pet.sex.name %><br>
            投稿者 : <%= @pet.user.nickname %> さん
          </div>
      </div>
    </div>
    <div class='room-form-field'>
      <div class='room-form-field-center'>
        <div class='room-create-text'>
          <h2>内容を確認し、問題なければ申請ボタンを押してください</h2>
        </div>
      </div>
    </div>
    <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
    <input name="room[user_ids][]" type="hidden" value=<%= @pet.user.id %>>
    <input name="room[pet_id]" type="hidden" value=<%= @pet.id %>>
    <input name="room[room_name]" type="hidden" value=<%= @pet.animal_name %>ちゃんの里親申請>
    <div class='room-form-field'>
      <div class='room-form-right'>
        <%= f.submit "申 請", class: 'room-green-btn'%>
      </div>
    </div>
  <% end %>
</div>
